body{
    padding: 0;
    margin: 0;
    background-color: rgb(177 221 252);
}

/* navbar */
.highlight{
    color: white;
    
}

ul{
    list-style:none;
}

header li{
    float:left;
    display: inline;
    padding: 0 20px 0 20px ;
    color: white;
}

header #branding{
    float: left;
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

.btn{
    height: 30px;
    width: 150px;
    background-color: white;
    color: black;
    border: 2px solid #f6c532;
}


/* center */
.main{
    display: flex;
    text-align: right;
    justify-content: right;
    margin-top: 200px;
    position: absolute;
    margin-left: 700px;
 }
 .main2{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 400px;
    position: absolute;
    margin-left: 834px;
    background-color: rgb(182, 131, 69);
    width: 532px;
 }
.container{
    position: relative;
}
.info{
    position: absolute;
    margin-top: 540px;
    background-color: #f6c532;
    width: 335px;
    text-align: left;
    justify-content: center;
    padding: 20px;
}
input{
    height: 30px;
    width: 280px;
    border: solid black;
}

.case{
    position: absolute;
    margin-top:837px;
    padding: 20px;
    background-color:rgb(208 206 210);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: absolute;
    margin-top:67%;
    justify-content: center;
    margin-left: 400px;
    padding: 30px;
    background-color: rgb(2, 41, 41);
    color: white;

  }
  .tb{
      padding: 10px;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .content {
    padding: 2px 16px;
  }

  /* footer */

  .last{
      position: absolute;
      margin-top: 78%;
      background-color:white;
      height: 80px;
  }
  .logohead{
      position: absolute;
      margin-top:85%;
      text-align: center;
      justify-content: center;
      margin-left: 12%;    
  }

  .logos{
     max-width: 22%;
     padding: 20px;
     border: none;
     margin-left: 0.5rem;


  }
.unlogo{
    position: absolute;
    margin-top:105%;
    text-align: center;
      justify-content: center;
      margin-left: 45%;
}